.iTimer
   $margin: 30px;

   text-align: center;
   
   &__controls_container
      margin-top: $margin;
      margin-right: -$margin;

   &__control
      @extend %basebutton
   
      display: none;
      color: $color3;
      background: $color1;
      border: 2px solid $color1;
      font-family: calibri, arial; 
      border-radius: 2px;
      font-size: 18px
      padding: 6px 0px;
      text-align: center;
      width: 150px;
      margin-right: 30px;
      transition: background .4s;
      font-weight: bold; 
         
      &:hover 
         background: transparent;
         color: $color1
      
      &:active
   
   &__lapslist 
      margin: 0;
      padding: 0;
      margin-top: $margin;
      font-size: 20px;
      list-style: none;

.iTimer-stopwatch .iTimer__stopwatch
   display: block;

.iTimer-stopwatch .iTimer__selectStopwatch
   font-weight: bold

.iTimer-timer .iTimer__timer
   display: block;

.iTimer-timer .iTimer__selectTimer
   font-weight: bold; 

.iTimer__time 
   font-size: 100px!important;
   font-family: calibri, arial
   color: $color1

.iTimer__stopwatch 
   display: none;
   
.iTimer__stopwatch-paused .iTimer__reset,
.iTimer__stopwatch-paused .iTimer__start 
      display: inline-block;

.iTimer__stopwatch-running .iTimer__lap,
.iTimer__stopwatch-running .iTimer__stop 
      display: inline-block;  

/* Timer */
.iTimer__timer 
   display: none;


.iTimer__timer .iTimer__reset 
   display: inline-block;


.iTimer__timer-paused .iTimer__start 
   display: inline-block;


.iTimer__timer-running .iTimer__stop 
   display: inline-block;