html, body {
  height: 100%; }

body {
  background: #777;
  color: #666; }

.container {
  max-width: 940px;
  padding: 10px;
  margin: 0 auto; }

.section {
  margin: 0; }

.header__control {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .header__control:focus {
    -webkit-box-shadow: 0 2px 8px 2px #797777;
            box-shadow: 0 2px 8px 2px #797777; }

.header {
  background: #777;
  position: relative; }
  .header__logo {
    text-align: center;
    font-size: 72px;
    padding: 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    -webkit-transition: color 3s;
    transition: color 3s;
    color: #eee; }
    .header__logo:active {
      color: #666;
      -webkit-transition: color 30s;
      transition: color 30s; }
  .header__controls_conrainer {
    top: 10px;
    right: 10px;
    position: absolute; }
  .header__control {
    background-color: #eee;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    border: none;
    display: block;
    margin-top: 5px;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
    .header__control:first-child {
      margin-top: 0; }
    .header__control:hover {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg); }
    .header__control:focus {
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg); }
  .header__help {
    background-image: url(../img/icons/help.svg); }
  .header__set {
    background-image: url(../img/icons/set.svg); }

.mainsection {
  background: #eee;
  position: relative; }
  .mainsection__container {
    min-height: 60vh; }

.iTimer-stopwatch .iTimer__stopwatch {
  display: block; }

.iTimer-stopwatch .iTimer__selectStopwatch {
  font-weight: bold; }

.iTimer-timer .iTimer__timer {
  display: block; }

.iTimer-timer .iTimer__selectTimer {
  font-weight: bold; }

.iTimer__but {
  padding: 5px 15px;
  color: #666;
  font-family: "Times New Roman";
  background: #dddddd;
  background: -webkit-linear-gradient(top, #eee, #999);
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none !important; }

.iTimer__but:focus {
  -webkit-box-shadow: 0 2px 8px 2px #797777;
          box-shadow: 0 2px 8px 2px #797777;
  outline: none;
  border: none; }

.iTimer__but:hover {
  color: #666; }

.iTimer__but:active {
  background: #dddddd;
  background: -webkit-linear-gradient(bottom, #eee, #999); }

.iTimer__selectTimer,
.iTimer__selectStopwatch {
  position: absolute;
  top: 10px; }

.iTimer__selectStopwatch {
  left: 10px; }

.iTimer__selectTimer {
  right: 10px; }

.iTimer__type {
  margin-top: 50px;
  text-align: center; }

.iTimer__time {
  font-size: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }

.iTimer__timecomp {
  font-size: 72px;
  margin-left: 5px;
  display: inline-block;
  text-align: center; }

.iTimer__timecomp:first-child {
  margin-left: 0; }

.iTimer__h,
.iTimer__m,
.iTimer__s {
  min-width: 95px; }

.iTimer__ms {
  min-width: 110px; }

.iTimer__timecomp:after {
  margin-left: 5px; }

.iTimer__h:after,
.iTimer__m:after {
  content: ':'; }

.iTimer__s:after {
  content: '.'; }

.iTimer__stopwatch {
  display: none; }

.iTimer__control {
  display: none;
  padding: 6px 0px;
  margin-left: 10px;
  text-align: center;
  width: 150px; }

.iTimer__control:first-child {
  margin-left: 0; }

.iTimer__stopwatch-paused .iTimer__reset,
.iTimer__stopwatch-paused .iTimer__start {
  display: inline-block; }

.iTimer__stopwatch-running .iTimer__lap,
.iTimer__stopwatch-running .iTimer__stop {
  display: inline-block; }

.iTimer__lapslist {
  text-align: center;
  font-size: 20px;
  list-style: none; }

/* Timer */
.iTimer__timer {
  display: none; }

.iTimer__timer .iTimer__reset {
  display: inline-block; }

.iTimer__timer-paused .iTimer__start {
  display: inline-block; }

.iTimer__timer-running .iTimer__stop {
  display: inline-block; }

.stopwatch__settime .iTimer__h,
.stopwatch__settime .iTimer__m,
.stopwatch__settime .iTimer__s {
  width: 115px; }

.stopwatch__settime .iTimer__ms {
  width: 140px; }

.footer {
  background: #777; }
  .footer__container {
    color: #eee; }
