.header 
   background: $color1;
   position: relative;
      
   &__logo 
      text-align: center;
      font-size: 72px;
      padding: 20px;
      user-select: none;
      cursor: pointer;
      transition: color 3s;
      color: $color3
      
      &:active
         color: $color2;
         transition: color 30s;

   &__controls_conrainer
      top: 10px;
      right: 10px;
      position: absolute;
      
   &__control
      @extend %basebutton
   
      background-color: $color3;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      cursor: pointer;
      transition: transform 0.3s;
      border: none;
      display: block;
      margin-top: 5px;
      transform: rotate(0);
      
      &:first-child
         margin-top: 0;
      
      &:hover 
         transform: rotate(15deg);
      &:focus 
        transform: rotate(20deg);
      
   &__help
      background-image: url(../img/icons/help.svg);
      
   &__set 
      background-image: url(../img/icons/set.svg);

      
      
      
      