.header 
   background: $color1;
   position: relative;
   min-height: 150px;
   
   &__container 
      padding: 10px;
      
   &__logo 
      text-align: center;
      font-family: cursive
      font-size: 72px;
      padding: 20px;
      user-select: none;
      cursor: pointer;
      transition: color 3s;
      color: $color3
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      
      &:active
         color: $color2;
         transition: color 30s;      
         
   &__menu
      list-style: none;
      padding: 0;
      margin: 0;
      color: $color1;
      user-select: none;
      
      &item
         float: left;
         margin-left: 10px;
         width: 28px;
         height: 28px;
         background: $color3;
         border-radius: 50%;
         transition: color .4s, background 1s;
         cursor: pointer;
         text-align: center;
         line-height: 28px;
         
         &:first-child
            margin-left: 0;
            
      &item:hover, 
         transition: color .4s;
         background: transparent;
         color: $color3;
         
      &item-select
         color: $color2;
         
         &:hover  
            color: $color2;
            background: $color3;
         
         
      
      
      