html, body 
   height: 100%;

body 
   background: $color1;
   color: $color2;

.wrapper

.container 
   max-width: 940px;
   padding: 10px;
   margin: 0 auto;

.section 
   margin: 0;
   

%basebutton 
   outline: none;
   user-select: none;
   
   &:focus 
      box-shadow: 0 2px 8px 2px #797777;